@font-face {
    font-family: 'Noto Sans';
    src: url(./fonts/NotoSans-Regular.ttf);
}

body {
    background-color: blue;
    font-weight: bold;
    font-family: 'Noto Sans';
}

* {
    box-sizing: border-box;
}

/* Main CSS */
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* Left side styling */
.card {
    border-radius: 6px;
    background-color: white;
    box-shadow: -2px 2px 2px 2px gray;
    color: black;
}

.city-side {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
}

.city-card {    
    padding: .25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

.city-card-temp {
    font-size: 1.5rem;
    text-align: center;
}

/* Right side styling */
.search-side {
    display: grid;
    grid-template-rows: min-content, 1fr;
    gap: .5rem;
    justify-content: center;
}

form {
    display: flex;
    gap: .5rem;
}

input {    
    width: 300px;
    height: 32px;
    padding: .25rem;
    border: none;
}

input:focus {
    outline: none;
    font-size: 1rem;
}

#search-button-div {
    text-align: right;
}

button {
    border-radius: 6px;
    padding: .25rem;
    box-shadow: -1px 1px 1px 1px gray;
    font-size: 1rem;
    outline: none;
    border: none;
    height: 32px;
}

.error {
    color: red;
    padding: .5rem;
}

.results-div {
    min-height: 300px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    justify-content: center;
    gap: .5rem;
    text-align: center;
    padding: .25rem;
}

#results-name, #results-temp {
    font-size: 2rem;;
}

#results-bot {
    font-size: 1.5rem;
}

/* For results display */
.horizontal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* For hidden error div */
.hide {
    display: none;
}
